@font-face {
    font-family: MercedesBold;
    src: url(fonts/MercedesBenz.otf);
}

@font-face {
    font-family: MercedesLight;
    src: url(fonts/MercedesBenz.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #f5f5f5;
}



.navContainer{
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 75px;
    z-index: 1000000;
}

/* .navbar {
    
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    z-index: 1000;
} */

.hideLinkDiv {
    transform: translateY(-100%);
    transition: transform 2s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.hideLinkDiv2 {
    transform: translateY(-100%);
    transition: transform 2s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.hideNavElementContainer {
    transform: translateY(-300%);
    transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.navElementContainer{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f5f5f5;
    /* border: 1px solid #ff0000; */
    padding: 0 35px;
    transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}



.logo{
    position: absolute;
    display: flex;
    width: 42px;
    height: 42px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}



.languageSwitcher,
.providerPrivacy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.languageSwitcher span button{
    background-color: transparent;
    font-size: 0.7em;
    font-weight: 100;
    padding: 0 15px;
    
}


.deutsch{
    border: none;
    padding-left: 5px;
    color: #525252;
}
.english{
    border: none;
    border-left: 0.5px white solid;
    color: #b0b0b0;
}

.providerPrivacy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;	
}


.providerPrivacy button{
    background-color: transparent;
    font-size: 0.7em;
    font-weight: 100;
    padding: 0 15px;
    color: #b0b0b0;
    border: none;
}


.search,
.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchBtn,
.loginBtn{ 
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    border: none;
    font-size: 0.7em;
    color: #888484;
}

.searchBtn{
   
}

.loginBtn{
    
}



.search svg,
.login svg{
    padding-top: 4px;
    width: 20px;
    height: 20px;
    fill: #888484;
}

.login svg{
    fill: #888484;
    padding: 0;
    padding-left: 4px;
    transform: rotate(90deg);
}

.SearchLogin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
}



.heroContainer{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: calc(100vh - 75px);
    overflow: hidden;
}
.heroContainer video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 100vh;;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 888;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7)
}

.overlayBlack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Black background, adjust as needed */
    transition: height 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);/* Smooth transition for height */
    z-index: 997; /* Ensure it's on top */
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.514); /* Semi-transparent overlay */
    box-shadow: inset 0 -50px 50px -20px rgba(0, 0, 0, 0.6);
    z-index: 994;
}

.linkDiv{
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #000000a9;
    backdrop-filter: blur(10px);
    height: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0 35px;
    z-index: 999;
    transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.linkDiv2{
    position: fixed;
    top: 75px;
    left: 0;
    right: 0;
    background-color: #000000;
    height: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0 35px;
    z-index: 999;
    transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}


.linkDiv button{
    /* font-family:'MercedesLight';
    font-weight: 500; */
    background-color: transparent;
    border: none;
    color: #f5f5f5;
    font-size: inherit;
    height: 100%;
    padding: 10px 36px;
    cursor: pointer;
}
.linkDiv2 button{
    /* font-family:'MercedesLight';
    font-weight: 500; */
    background-color: transparent;
    border: none;
    color: #f5f5f5;
    font-size: inherit;
    height: 100%;
    padding: 10px 36px;
    cursor: pointer;
}

.heroTextContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 996;
    left: 0;
    margin-left: 8.5714285714rem;
}

.headerDiv{
    margin-bottom: 50px;
    height: 50px;
    font-family: 'MercedesLight';
    color: #f5f5f5;
    font-size:min(2.8571428571rem,6vh,10vw);
    max-width: 37.7142857143rem;
}



.textPlusButton{
    display: flex;
    align-items: center;
    width: 100%;
}

.headerDiv p{
    width: 100%;
}

.navElementContainerSmall{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.navElementContainerSmall button{
    background-color: transparent;
    border: none;
    color: #a3a3a3;
    font-size: 0.9rem;
    padding: 0 15px;
}

.textPlusButton{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 35px;
}

.textPlusButton p{
    color: #f5f5f5;
    font-size: min(1.2857142857rem,3vh,5vw);
}

.discover{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 15.7142857143rem;
    padding: .4285714286rem 1.1428571429rem;
    font-size: 1em;
    border-radius: 1.1428571429rem;
    border: none;
    margin-top: 15px;
    transition: all .5s ease;
    cursor: pointer;
}

.discover:hover{
    background-color: #0078d6;
    color: white;
    
}

.discover svg{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}


.sectionOne{
    display: flex;
    width: 100%;
    height: 500px;
}
.linkDiv2{
    display: none;
}

.introVideoDiv{
    display: none;
}

.logoLarge{
    display: none;
}


/* Extra small devices (phones, less than 576px) */
@media  (max-width: 576px) { 
    
}

/* Small devices (tablets, 576px and up) */
@media  (max-width: 768px) { 
    .navContainer{
        height: 70px;
    }
    .navElementContainer{
        display: none;
    }

    .linkDiv{
        display: none;
    }
    .linkDiv2{
        display: none;
    }

    .logo{
        width: 35px;
        height: 35px;
    }

    .heroContainer{
        margin-top: 70px;
    }

    .heroTextContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    .textPlusButton{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        margin: 0;
        color: #f5f5f5;
    }

    .headerDiv p{
        font-size:min(1.8571428571rem,6vh,10vw);
    }



}

@media  (max-width: 1378px) { 

    .linkDiv{
        top: 74px;
    }
    .linkDiv button{
        font-size: 0.85rem;
        background-color: transparent;
        border: none;
        color: #f5f5f5;
        height: 100%;
        padding: 10px 24px;
    }
    .linkDiv2 button{
        font-size: 0.85rem;
        background-color: transparent;
        border: none;
        color: #f5f5f5;
        height: 100%;
        padding: 10px 24px;
    }

    .textPlusButton{
        height: 100px;
    }

    .navContainer{
        height: 75px !important;
    }

 

    
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 769px){ 
    .navElementContainerSmall{
        display: none;
    }
}
@media (min-width: 769px) and (max-width: 991.98px) { 
    .navElementContainerSmall{
        display: none;
    }
}

/* Large devices (larger desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    /* Your styles here */
}

/* Extra large devices (1200px and up) */
@media (min-width: 1380px) { 
    .headerDiv{
        height: 100px;
    }

    .logo{
        display: none;
    }

    .navContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    .navElementContainer{
        top: 25px;
    }



    .linkDiv2{
        display: flex;
        top: 299px;
        background-color: #000000;
        backdrop-filter: blur(0px);
    }


    .hideLinkDiv2 {
        transform: translateY(-900%);
        transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    .hideLinkDivLarge{
        
    }

    .hideLinkDiv{
        transform: translateY(-200%);
        transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    .hideNavElementContainer {
        transform: translateY(-300%);
        transition: transform 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    .introVideoDiv{
        display: flex;
        transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
        width: 200px; /* Desired width */
        height: 200px; /* Desired height */
        background-color: #000;
        overflow: hidden;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        z-index: 10000000;
    }

    .introVideoDiv video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
      }

      /* .logoLarge{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        width: 100px;
        margin-bottom: 20px;
      }

      .logoLarge img{
        width: 90px;
        width: 90px;
        padding-bottom: 20px;
      } */






}










